rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /tasks/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth.uid == resource.data.user_id;
      allow write: if request.auth.uid == resource.data.user_id;
      allow delete: if request.auth.uid == resource.data.user_id;
    }

    match /habits/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth.uid == resource.data.user_id;
      allow write: if request.auth.uid == resource.data.user_id;
      allow delete: if request.auth.uid == resource.data.user_id;
    }

    match /energy_logs/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth.uid == resource.data.user_id;
      allow write: if request.auth.uid == resource.data.user_id;
      allow delete: if request.auth.uid == resource.data.user_id;
    }

    match /mood_logs/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth.uid == resource.data.user_id;
      allow write: if request.auth.uid == resource.data.user_id;
      allow delete: if request.auth.uid == resource.data.user_id;
    }

    match /focus_sessions/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth.uid == resource.data.user_id;
      allow write: if request.auth.uid == resource.data.user_id;
      allow delete: if request.auth.uid == resource.data.user_id;
    }

    match /journal_entries/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth.uid == resource.data.user_id;
      allow write: if request.auth.uid == resource.data.user_id;
      allow delete: if request.auth.uid == resource.data.user_id;
    }

    match /notifications/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth.uid == resource.data.user_id;
      allow write: if request.auth.uid == resource.data.user_id;
      allow delete: if request.auth.uid == resource.data.user_id;
    }

    match /ai_reports/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth.uid == resource.data.user_id;
      allow write: if request.auth.uid == resource.data.user_id;
      allow delete: if request.auth.uid == resource.data.user_id;
    }

    match /resources/{document} {
      allow create: if false;
      allow read: if request.auth != null;
      allow write: if false;
      allow delete: if false;
    }

    match /streaks/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth.uid == resource.data.user_id;
      allow write: if request.auth.uid == resource.data.user_id;
      allow delete: if request.auth.uid == resource.data.user_id;
    }

    match /habits/{parent}/habit_logs/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth.uid == resource.data.user_id;
      allow write: if request.auth.uid == resource.data.user_id;
      allow delete: if request.auth.uid == resource.data.user_id;
    }

    match /{path=**}/habit_logs/{document} {
      allow read: if request.auth.uid == resource.data.user_id;
    }

  }
}
